div.fieldWithErrors {
  display: inline;
  background: yellow;
}

div.fieldWithErrors input {
  border: 1px solid red;
  background: #fee;
}

div#errorExplanation {
  padding: 5px;
}

div#errorExplanation h2 {
  margin-top: -5px;
  margin-left: -5px;
  margin-right: -5px;
  padding: 3px;
  background: #933;
  color: white;
  text-align: center;
}

.error {
  color: red;
}

code input {
  font-family: monospace;
}

.formfieldline {
  padding: 3px 0px;
  margin-bottom: 5px;
}

label,
.pseudoformlabel,
.formlabel {
  color: #444;
  margin-bottom: 4px;
}

.formlabel {
  font-size: 1.1em;
  display: block;
  margin-top: 10px;
  padding: 2px 0px;
}

.colorpicker_field {
  display: none;
}

.color_marker {
  display: inline-block;
  height: 10px;
  border: 1px solid;
}

.formfield input {
  text-indent: 5px;
  padding: 2px 0px;
}

.msie5 .formfield input,
.msie6 .formfield input {
  background-attachment: fixed;
}

.msie .formfield input {
  padding-left: 2px;
}

.Blog .formfield textarea {
  width: 99%;
}

.checkbox,
.radio-button {
  label {
    input[type=checkbox],
    input[type=radio],
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.formfield.type-radio input,
.formfield.type-checkbox input {
  background: none;
  border: none;
  display: inline-block;
  vertical-align: middle;
}

.formfield.type-select select {
  max-width: 100%;
}

.submitline {
  text-align: center;
}

.fieldgroup span {
  display: block;
  float: left;
}

.fieldgroup br {
  clear: left;
}

.linesize0 span {
  padding-right: 15px
}

.linesize1 span {
  width: 99%
}

.linesize2 span {
  width: 49%
}

.linesize3 span {
  width: 33%
}

.required-fields-msg {
  color: #d9534f;
}

.required-field label.formlabel:after {
  color: #d9534f;
  content: '*';
}

.no-boxes {
  input[type=text],
  input[type=password] {
    max-width: 100%;
  }
}

input[type=text],
input[type=password] {
  display: inline-block;
  background: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  padding: 7px 10px;
  max-width: 100%;
}

#content #location-support-fields {
  margin: 5px 0 25px;
  .formfield {
    margin-bottom: 10px;
    input,
    select {
      width: 100%;
    }
  }
  .location-support-fields-row {
    display: flex;
    justify-content: space-between;
    select,
    input {
      width: 49%;
    }
  }
  input {
    padding: 2px 0;
  }
  &.loading {
    cursor: progress;
    pointer-events: none;
    background: transparent url(../images/loading.gif) no-repeat scroll center 50px;
    opacity: 0.5;
	}
}

.exportable-fields-selector {
  .exportable-fields {
    display: flex;
    margin: 10px 0 20px;
    flex-wrap: wrap;

    label {
      padding: 5px 0;
      width: calc(100% / 4);

      &:hover, &:focus {
        border-radius: 3px;
        background-color: #eee;
      }
    }
  }
}