.action-maps-edit_location label.location-title {
  font-size: 20px;
  font-variant: small-caps;
  color: #555753;
  border-bottom: 2px solid #2e3436;
  margin: 10px 0px;
  font-weight: bold;
}

.action-maps-edit_location .field-with-privacy-selector {
  display: flex;
  justify-content: space-between;
  .field-privacy-selector {
    width: auto;
  }
}

p.help-message {
  margin: 0;
  text-align: center;
  font-style: italic;
}

#location-fields {
  display: table;
  width: 100%;
  margin-bottom: 25px;
  #location-map {
    width: 100%;
    height: 320px;
  }
  #map {
    height: 500px;
    margin-top: 10px;
  }
  .map {
    clear: both;
  }
  p.help-message {
    margin-top: 10px;
  }
}
