<% if user.present? %>
  <li class="user-home">
    <%= link_to font_awesome(:user, content_tag(:span, _('Profile'), class: 'home')).html_safe, url_for(user.public_profile_url) %>
  </li>

  <li class="user-pending-tasks">
    <% pending_tasks = user.pending_tasks.count > 0 %>
    <%= link_to font_awesome(:bell), '#', class: "menu-toggle", id: "menu-toggle" %>
    <% if user.pending_tasks.count > 0 %>
      <div id="pending-tasks-menu" class="noosfero-dropdown-menu">
        <ul class="dropdown-list">
          <% user.pending_tasks.each do |task| %>
            <li><%= render partial: 'tasks/task_info', locals: { task: task } %></li>
          <% end %>
        </ul>
        <div class="all-tasks-button">
          <%= link_to font_awesome(:bell, _('Manage tasks')), url_for(:controller => 'tasks', :profile => user.identifier) %>
        </div>
      </div>
    <% else %>
      <div class="arrow-up"></div>
      <ul id="pending-tasks-menu" class="noosfero-dropdown-menu">
        <li class="no-pending-tasks"><%= link_to _('No pending tasks'), '#' %></li>
      </ul>
    <% end %>
    <%= content_tag :div, user.pending_tasks.count, id: "pending-tasks" if pending_tasks %>
  </li>

  <li class="user-menu">
    <%= link_to("#{profile_image(user, :minor, class: "profile-icon")} #{content_tag :span, user.name, id: 'user-name'}".html_safe, '#', class: 'trigger-menu-toggle') %>
    <%= link_to(font_awesome('caret-down'), '#', class: "menu-toggle", id: "menu-dropdown") %>
    <ul class="noosfero-dropdown-menu">
      <% user_menu_items.flatten.reject(&:blank?).each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </li>

  <li class="hamburger-menu">
    <%= link_to(font_awesome(:bars), '#', class: "menu-toggle") %>
    <ul class="noosfero-dropdown-menu">
      <li><%= link_to(font_awesome(:search, _('Search')), controller: 'search', action: 'articles') %></li>
      <% user_menu_items.flatten.reject(&:blank?).each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </li>
<% else %>
  <li class="login-link"><%= modal_link_to_login %></li>
  <% @plugins.dispatch(:alternative_authentication_link).collect do |content|%>
    <li><%= instance_exec(&content) %></li>
  <%end%>

  <div id='inlineLoginBox' style='display: none;'>
    <%= render file: 'account/login', locals: { is_popin: true } %>
  </div>

  <% unless @plugins.dispatch(:allow_user_registration).include?(false) %>
    <li class="signup-link"><%= link_to_signup %></li>
  <% end %>

  <li class="hamburger-menu">
    <%= link_to(font_awesome(:bars), '#', class: "menu-toggle") %>
    <ul class="noosfero-dropdown-menu">
      <li><%= link_to(font_awesome(:search, _('Search')), controller: 'search', action: 'articles') %></li>
      <% main_dropdown_items.flatten.reject(&:blank?).each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </li>

  <li class="user-menu">
    <%= link_to(font_awesome('caret-down'), '#', class: "menu-toggle", id: "menu-dropdown-items") %>
    <ul class="noosfero-dropdown-menu">
      <% main_dropdown_items.flatten.reject(&:blank?).each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </li>
<% end %>
