<h1><%= _('Enterprise registration: validator organization') %></h1>

<p>
<%= _('Select one organization to validate your enterprise registration request. Check the provided information about their validation methodoly and criteria.') %>
</p>

<%= form_tag do %>
  <%= render :partial => 'hidden_fields' %>

  <table>
    <tr>
      <th><%= _('Name') %></th>
      <th><%= _('Validation Methodology:') %></th>
      <th><%= _('Restrictions (if any):') %></th>
    </tr>
  <% @validators.each do |validator| %>
    <tr>
      <td><%= labelled_radio_button validator.name, 'create_enterprise[target_id]', validator.id  %></td>
      <td><%= validator.validation_methodology || _("(not informed)") %></td>
      <td><%= validator.validation_restrictions || _("(not informed)") %></td>
    </tr>
  <% end %>
  </table>

  <%= button_bar do %>
      <%= submit_button(:ok, _('Confirm'), :cancel => {:profile => current_user.person.identifier,
            :action=>"enterprises", :controller=>"profile"}) %>
  <% end %>
<% end %>
